<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Seja bem vindo(a)!</strong> Conheça as funcionalidades do sistema
  através dos resumos abaixo.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
      <div class="card-header">
        <div class="card-body">
          <h5 class="card-title">Atendimento</h5>
          <p class="card-text">
            Por aqui é possível cadastrar os atendimentos prestados, bem como as
            vendas realizadas.
          </p>
          <a ui-sref="app.atendimento.list" class="btn btn-dark">Clique aqui</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
      <div class="card-header">
        <div class="card-body">
          <h5 class="card-title">Produtos</h5>
          <p class="card-text">
            Por aqui é possível cadastrar os produtos que são comercializados no
            estabelecimento.
          </p>
          <a ui-sref="app.produtos.list" class="btn btn-dark">Clique aqui</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
      <div class="card-header">
        <div class="card-body">
          <h5 class="card-title">Serviços</h5>
          <p class="card-text">
            Por aqui é possível cadastrar os serviços prestados aos clientes.
          </p>
          <br>
          <a ui-sref="app.servicos.list" class="btn btn-dark">Clique aqui</a>
        </div>
      </div>
    </div>
  </div>
</div>
