<div class="sidebar-sticky">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="dashboard"></span>
                <span class="sr-only"></span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="atendimentoList" data-toggle="tooltip" data-placement="right" title="Cadastro e consulta de atendimentos">
                <span class="feather icon-calendar"></span>
                Atendimentos
            </a>
        </li>
        <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="servicosList" data-toggle="tooltip" data-placement="right" title="Cadastro e consulta de serviços">
                    <span class="feather icon-shopping-cart"></span>
                Serviços
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="produtosList" data-toggle="tooltip" data-placement="right" title="Cadastro e consulta de produtos">
                <span class="feather icon-shopping-cart"></span>
                Produtos
            </a>
        </li>
    </ul>
</div>